env:
  global:
    - CC_TEST_REPORTER_ID=“$CC_TEST_REPORTER_ID”
language: node_js
node_js:
- '12'
cache:
  npm: false
addons:
  chrome: stable
install:
- npm install
before_script:
  - yarn global add nyc
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
- nyc --reporter=lcov yarn run coverage
- npm run build
- npm run storybook:build
# - npm run snapshot
- ".travis/prep-site.sh"
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
deploy:
- provider: pages
  skip_cleanup: true
  github_token: "$GH_TOKEN"
  keep-history: true
  local-dir: "./gh-pages"
  on:
    branch: master
notifications:
  slack:
    if: branch = master
    on_success: always
    on_failure: always
    on_pull_requests: false
    rooms:
      secure: ZWdv1adp8Znm54qMWqr83ewxMgBENFE/Uo6X0fH4x3ZTrCztZKueHxa57KZ2GPHoW2YC/c1FDMkoZloREdryo+JvZr1rSuj7bSVjnEunOZCwJ5skaGbrVf90BX6l8ceLtHA3LzFxix911ewJ392zyxlLv1h4lsOwgS3Y0Z7VLzqo2zTWD6kg26t1Dx6psd4xxjVaqV8i8qXzG0ok8XyTPXveLxjiowI5FtuDvioOlZamo16eQtumZ6Ee9z47tDUGHbQuPSs2000//pcFL3khhENqy33zFDfqxekMcg4tUPUwYuv3Ef0CIHpw8DYZAhaYKfowm9xcy7KYFbTNUjEL37bFoHfb4tpA2nklD0jElBmkGSdgZxr6S98fPhYSomWXlfY7pBI7aopexyzjbnmQWNR9uGysC2H6ddtBq5wXUDDGFVXjEL3Q5v3d1PEL4RfFfZu4+VmNo1cdq53Gb9Qo/mBdHS8oZWn/XeSsPLGkZuVJXti0O7xsv6NbVz4zu+hsbR3n7lk29bOSJ0/dm0FM80v2jyTofbMFlNxWRLSQjJpMK84nqWux8X+IAtHVqqOfbbGJ6RAikYhmhM5Qq/VBTRpyapZqUwB8ioudJI2XVbqxsndWsGuJbXcqnJH1ZykOSmCKXmlp8KHI9MY7vY3vPKZla9NWzUAnZsjKDqWT68Q=
